/* ALINHAMENTO DA LATERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.agendamento-particular{
 text-align: center;
 position: absolute;
 right: 30px;
 top: 300px;
 transform: translateY(-50%);
 padding: 40px;
 width: 400px;
 box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
 font-family: 'Poppins', sans-serif;
 color: #000000;
}

.cadastro-1{
  display: flex;
  background-color: #6EAE9C;
  padding: 10px;
  border-radius: 0px;
  margin-left: 0;
  margin-top: 0px;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}

.como-funciona-2 h4{
  color: #ffffff;
  margin-top: 100px;
 
}

.lista-de-espera-3 h4{
  color: #ffffff;
  margin-top: 100px;
}

.publico-4 h4{
  color: #ffffff;
  margin-top: 100px;
}


body{
 font-family: 'Poppins', sans-serif;
 background-size: cover;
 padding: 0px;
 max-width: 2000px;
}

/*FORMULÁRIO*/

.container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(76, 74, 74, 0.2);
    padding: 30px;
}


/* BARRA FINAL DA PÁGINA */

/* Serve para colocar a barra final */
footer {
    background-color: #a0dac9;
    color: white;
    padding: 2rem;
    margin-top: 40px;
    font-size: 10px;
  }
  
  /* Ajusta todos os ícones da barra final */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
  }
  
  /* Ajusta o tamanho da logo */
  #logo-multiser-footer img {
    height: 50px;
  }

  /* Ajusta a frase do meio */
  #text-footer h2{
    font-size: 10px;
    font-weight: 900;
    height: 0px;
  }

   /* Ajusta a cor dos ícones */
  #icons-footer a {
    color: rgb(255, 255, 255);
  }
  
  /* Ajusta o tamanho dos ícones */
  #icons-footer i {
    font-size: 20px;
  }
  
   /* Responsividade */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    #text-footer {
      margin: 10px 0;
    }
  
    #icons-footer ul {
      justify-content: center;
    }
  }
